.hero-section {
    position: relative;
    width: 100%;

    overflow: hidden;
    padding-bottom: 70px;
}
 
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.text-wrapper1{
    position: absolute;
    top: 20%;
    left: 10%;
    max-width: 300px;
    color: black;
    padding: 15px;
   text-align: left;
}
 
.hero-title {
    font-size: 47px;
    margin-bottom: 10px;
}
 
.hero-desc {
    font-size: 14px;
    line-height: 1.5;
}

 
.shipping-policy {
    padding-top: 100px;
    padding-bottom: 40px;
}
 
.policy-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
   margin-top: 20px;
}
 .sub-policy-title{
    margin-bottom: 10px;
    margin-top: 50px;
 }
.policy-content {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;

}
.card{
    border: none;
}
.story-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.sub-story-title{
    text-align: center;
    font-size: 2rem;
}
.story-content{
    margin-bottom: 50px;
    margin-top: 10px;
    text-align: center;
}