<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400&display=swap" rel="stylesheet">
    <script src="script.js"></script>
   <link rel="stylesheet" href="/homepage.css" />
<link rel="stylesheet" href="/responsive.css" />
       <link rel="stylesheet" href="/subpages.css" />


</head>
<body>
 <% if (role === 'admin') { %>
  <%- include('includes/adminDashboard.ejs') %>
<% } else { %>
  <%- include('includes/header.ejs') %>
<% } %>
 <div class="united-form">
  <h2>Contact Us</h2>

    <% if (isAuthenticated) {%>
   
  <form action="/user/addContactForm" method="post">

    <div class="form-group">
      <label>First Name</label>
      <input type="text" name="firstName" placeholder="FirstName" required>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" name="lastName" placeholder="LastName" required>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" placeholder="Email" required>
    </div>

    <div class="form-group">
      <label>Phone Number</label>
      <input type="text" name="phoneNumber" placeholder="PhoneNumber" required>
    </div>

    <div class="form-group">
      <label>Your Message</label>
      <textarea name="message" rows="4" placeholder="Message" required></textarea>
    </div>

    <button type="submit">Submit</button>
  </form>


<% } else { %>
    <p style="text-align: center;">Please <a href="/auth/login" class="user-icon-btn" title="Log in"><button class="form-button-lo" style="font-weight: bold;">log in</button></a> to contact us.</p>
<% } %>

   
  </div>
 
    <%- include('includes/footer.ejs') %>
</body>
  </html>