<header>
        <div class="slogan">
            <p>Jewelry beyond time</p>
        </div>
        <div class="header-content">
           
           
            <div class="left-cont">
                <a href="/allProducts" class="add-icon" title="All Products" style="margin-right: 15px;">
  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
  </svg>
</a>
                <div class="contact">
                    <div class="contact-icon" >
                       <a href="/user/contact">
                   
                            <i class="bi bi-envelope-heart " ></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-envelope-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l3.235 1.94a2.8 2.8 0 0 0-.233 1.027L1 5.384v5.721l3.453-2.124q.219.416.55.835l-3.97 2.443A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741l-3.968-2.442q.33-.421.55-.836L15 11.105V5.383l-3.002 1.801a2.8 2.8 0 0 0-.233-1.026L15 4.217V4a1 1 0 0 0-1-1zm6 2.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                              </svg>
                        </a>
                    </div>
                </div>
           
             
 
     
     
 
 
 
 
   
   
 
           
       
                <div class="location">
                 
                    <div class="location-icon" onclick="document.getElementById('overlay').style.display='block'">
                       
                        <i class="bi bi-geo-alt "></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                           <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                           </svg>
                         
                    </div>
                </div>
           
                <div id="overlay" class="overlay">
                    <div class="overlay-content">
                        <span class="close" onclick="document.getElementById('overlay').style.display='none'">&times;</span>
                        <h2>Find the Perfect Piece at Timeless! Your Destination for Elegance.</h2>
                        <div class="image-container">
                            <div class="image-item">
                                <img src="photos/zahle.png" alt="Image 1">
                                <p>⚲ Zahle-Lebanon</p>
 
                             
                                <p>⤷ Fakhr El-Dine Street</p>
                         
                                <p>🕻 Tel: +961 8 *** ***</p>
                            </div>
                            <div class="image-item">
                                <img src="photos/batroun.jpg" alt="Image 2">
                                <p>⚲ Batroun-Lebanon</p>
                         
                                <p>⤷ Al-Mina Street</p>
                         
                                <p>🕻 Tel: +961 6 *** ***</p>
                            </div>
                            <div class="image-item">
                                <img src="photos/beirut.jpg" alt="Image 3">
                                <p>⚲ Beirut-Lebanon</p>
                               
                                <p>⤷ ABC Mall-Achrafieh</p>
                             
                                <p>🕻 Tel: +961 1 *** ***</p>
                            </div>
                        </div>
                        <h2 style="margin-bottom: 0;margin-top: 2vw;">♡ Just one visit away from perfection ♡</h2>
                    </div>
                </div>
            </div>
           
       
            <div class="logo2">
               <a href="/">
                <img src="/photos/logo.png" alt="Logo" >
              </a>
            </div>
              <div class="header-right">
 
        <!-- SEARCH BAR -->
        <form action="/searchProduct" method="GET" class="header-search">
    <input type="text" name="searchQuery" placeholder="Search..." required>
    <button type="submit" class="search-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.60.098.115l3.85
            3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12
            6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
    </button>
</form>
 
            <div class="right-cont">
         
       
       
             
         
           <div class="user-icon">
  <% if (isAuthenticated) { %>
    <form action="/auth/logout" method="post" class="user-form">
      <button type="submit" class="user-icon" title="Log out">
        <i class="bi bi-person-fill" ></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
</svg>
      </button>
    </form>
  <% } else { %>
    <a href="/auth/signup" class="user-icon" title="Log in">
      <i class="bi bi-person" ></i>
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
</svg>
    </a>
  <% } %>
</div>
 
         
         
                <div class="wishlist">
                    <a href="/user/wishlist">
                    <div class="wishlist-icon">
                        <i class="bi bi-bookmark-heart "></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                          </svg>
                    </div>
                </a>
                </div>
                <div class="cart">
                    <a href="/user/cart">
                    <div class="cart-icon">
                        <i class="bi bi-bag-heart "></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                          </svg>
                    </div>
                </a>
                </div>
            </div>
            </div>
           
        </div>
         
           
       
           
            <div class="button-container">
                <a href="/user/feedback" class="button-fe" >Feedback</a>
              </div>
   
 
 
 
 
   
  </div>
</div>
 
 
 
       
<div class="categories">
    <a href="/charms" >Charms</a>
    <a href="/earrings">Earrings</a>
    <a href="/necklaces">Necklaces</a>
    <a href="/bracelets">Bracelets</a>
    <a href="/rings">Rings</a>
    <a href="/watches">Watches</a>
</div>
 
     
<!-- <div class="search-container">
    <div class="search-icon">
      <i class="bi bi-search"></i>
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
       
     </div>
  <input type="text" class="search-bar2" placeholder="Search products..." onkeyup="searchWebsite()">
  <div id="searchResults"></div>
</div> -->
       
   
           
            <button class="menu-button" onclick="toggleMenu()">☰</button>
           
            <div class="menu" id="menu">
               
                <a href="contact.html">✧Contact</a>
     
               <a href="location.html">✧Location</a>
                 
                 
                <a href="profile.html" >✧Profile</a>
                <a href="wishlist.html">✧Wishlist</a>
                <a href="cart.html">✧Cart</a>
                <a href="#feedback" class="button" onclick="openFeedbackForm(event)">✧feedback</a>
                <a href="#" onclick="toggleMenu()">Close</a>
            </div>
           
 
            <script>
                function toggleMenu() {
                    const menu = document.getElementById('menu');
                    menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
                }
                const triggerIcon = document.getElementById('trigger-icon');
const inputBar = document.getElementById('input-bar');
 
 
triggerIcon.addEventListener('click', function() {
 
  inputBar.classList.toggle('show');
});
            </script>
       
</header>
 